*{
    padding: 0;
    margin: 0;
}
body{
background-color: rgb(8, 245, 245);
}

.container{
    margin: 0 auto;
    background-color: antiquewhite;
}

/*smartphone landscape**/
@media (min-width: 576px){
      body{
          background-color: red;
      }
      .container{
          max-width: 540px;
      }
}

/**tablet portrati**/
@media (min-width: 768px){
    body{
        background-color: yellow;
    }
   
}


/*tablet landscape**/

@media (min-width: 992px){
    body{
        background-color: blue;
    }
    
}


/*pc e notbooks**/
@media (min-width: 1200px){
    body{
        background-color: green;
    }
    
}




