*{
    padding: 0;
    margin: 0;
}
body{
font-family: Arial, Helvetica, sans-serif;
background-color: black;
color: blueviolet;
}
h1{
    font-size: 3rem;
    color: azure;

}
h2{
    font-size: 2rem;
    color: azure;
    margin-left: 5%;
    margin-top: 3rem;
}

h3{
    font-size: 3rem;
    color: azure;

}

h4{
    font-size: 2rem;
    color: azure;
    margin-left: 5%;
    margin-top: 3rem;
}



iframe{
padding: 2px;
width: 99%;
}

p.flex1{
    color: rgb(148, 148, 248);
    margin-left: 6px;
    width: 98%;
    font-size: 1rem;
}
.container{
    margin: 0 auto;
    width: 100%;
}
 
 .img-header{
     background: url(./images/cit.jpg);
     background-position: center;
     background-size: cover;
     height: 240px;
     text-align: center;
 }
 p.header{
     color: aliceblue;
 }
 p.movel{
     color: antiquewhite;
 }
 div.movel{
    background: url(./images/movel.jpg);
    background-position: center;
    background-size: cover;
    height: 40vh;
    text-align: center;
    margin-top: 2rem;
}

 .container{
  width: 100%;
}

footer{
    text-align: center;
    margin-top: 2rem;
}
 

/*smartphone landscape**/
@media (min-width: 576px){
     
      .container{
          max-width: 540px;
      }
     
}

/**tablet portrati**/
@media (min-width: 768px){
   

    .container{
        max-width: 720pxpx;
    }
    iframe{ 
        width: 50%;
     }
   
}


/*tablet landscape**/

@media (min-width: 992px){
   
    .container{
        max-width: 960px;
    }
    iframe{ 
        width: 50%;
     }
    
}


/*pc e notbooks**/
@media (min-width: 1200px){
 

    .container{
        max-width: 1140px;
    }
    iframe{ 
        width: 99%;
     }
     p.flex1{
        width: 60%;
     }
   
    
}




