*{
    padding: 0;
    margin: 0;
}
body{
font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 0 auto;
}

 img.cit{
     width: 100%;
     height: 240px;   
 }

 img.movel{
     width: 100%;
     height: 240px;
 }



/*smartphone landscape**/
@media (min-width: 576px){
     
      .container{
          max-width: 540px;
      }
}

/**tablet portrati**/
@media (min-width: 768px){
   

    .container{
        max-width: 720pxpx;
    }
   
}


/*tablet landscape**/

@media (min-width: 992px){
   
    .container{
        max-width: 960px;
    }
    
}


/*pc e notbooks**/
@media (min-width: 1200px){
 

    .container{
        max-width: 1140px;
    }
    
}




